body {
  background-color: #F1EFEB;
  margin: 0;
  padding: 0;
}

input, button {
  border-radius: 4px;
}

.link-button {
  background: none !important;
  border: none;
  color: #51a0f5;
  padding: 0;
  font-size: 1em;
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
  transition: color 0.3s ease;
}

.link-button:hover {
  background: none !important;
  color: #bdcdde;
}



