body {
  background-color: #F1EFEB;
  margin: 0;
  padding: 0;
}

input, button {
  border-radius: 4px;
}

.link-button {
  background: none;
  border: none;
  color: #51a0f5;
  padding: 0;
  font-size: 1em;
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
  transition: color 0.3s ease;
}

.link-button:hover {
  color: #babcbf;
}

const inputStyle = {
  display: 'block',
  width: '100%',
  padding: '10px',
  marginBottom: '10px',
  fontSize: '16px',
};

const buttonStyle = {
  padding: '10px 20px',
  fontSize: '16px',
  cursor: 'pointer',
  backgroundColor: '#51a0f5',
  color: 'white',
  border: 'none',
  borderRadius: '4px',
};

const logoutButtonStyle = {
  ...buttonStyle,
  backgroundColor: '#dc3545',
};

const linkButtonStyle = {
  background: 'none',
  border: 'none',
  color: '#007bff',
  cursor: 'pointer',
  textDecoration: 'underline',
  padding: 0,
};

